@import "bootstrap/scss/bootstrap-grid";

/* ====================================
// css variables
// ==================================== */

:root {
  --extra-light-color: #fff;
  --extra-drak-color: #000;
  --medium-color: #b3b3b3;
  --font: "Heebo", sans-serif;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  background-color: var(--medium-color);
}

h1 {
  background: var(--extra-light-color);
  font-family: "Heebo", sans-serif;
  font-size: 60px;
  color: var(--extra-drak-color);
  letter-spacing: 0;
  text-align: center;
}

article {
  background-color: var(--extra-light-color);
  margin: 20px 15px;
}

h2 {
  font-family: var(--font);
  font-size: 22px;
  color: var(--extra-drak-color);
  letter-spacing: 0;
  text-align: center;
  line-height: 26px;
  margin: 25px 10px 50px;
}

article p {
  font-family: var(--font);
  font-size: 10px;
  color: var(--extra-drak-color);
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  font-weight: 600;
  margin: 0 10px 30px;
}

span {
  color: var(--medium-color);
}
