@import "bootstrap/scss/bootstrap-grid";

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

html {
  font-family: "Heebo", sans-serif;
  background-color: #f7f7f7;
}

.main-container {
  margin: 0 15px;
}

header {
  background-color: white;
  margin-bottom: 20px;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

article {
  background-color: white;
  margin-bottom: 20px;
  padding: 0 10px 30px 10px;
  text-align: center;
}

article h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 50px;
}

img {
  margin-bottom: 25px;
}

.credits {
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
}

span {
  color: #b3b3b3;
}

.review-header {
  background-color: #eeeeee;
  padding: 0 20px;
  font-size: 12px;
  font-weight: 300;
  line-height: 50px;
}

.card {
  background-color: white;
  margin-bottom: 20px;
  padding: 25px 20px 30px 20px;
}

.card h2 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.subhead {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 20px;
}

.card .credits {
  font-weight: 700;
  margin-bottom: 20px;
}

.card p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
}
